*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('./assets//chat_background.jpg');
    backdrop-filter: blur(4px);

  }
  .chatbot{
    border-radius: 2em;
  }